@import 'normalize.css';

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    align-items: start;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    margin: 0;
}

i {
    color: #C36D64;
    cursor: pointer;
    transition: .25s all linear;
}

i:hover {
    color: maroon;
}

input,
select {
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 22px;
    border: 1px solid #BCBCBC;
    appearance: none;
    -webkit-appearance: none;
}

select {
    background-image: url(../img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 15px;
    background-origin: border-box;
}

#calculator {
    display: grid;
    max-width: 100vw;
    padding: 20px;
}

.currency-input {
    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 15px) 15px;
    box-shadow: none;
    border-radius: 5px;
    line-height: 22px;
    border: 1px solid #BCBCBC;
}

.currency-input input {
    border: none;
    padding: 5px 0 5px 10px;
    max-width: 100%;
    text-align: right;
}

.currency-input::after {
    content: '€';
}

.row {
    display: grid;
    grid-gap: 20px;
    padding: 10px 0;
    align-items: center;
    border-top: 1px solid #DEDEDE;
}

.row.heading {
    display: none;
    border: none;
    font-weight: 500;
}

.row.full {
    justify-items: center;
    grid-template-columns: 1fr;
}

.total p {
    font-weight: 700;
}

.total input {
    pointer-events: none;
}

.label {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.label::before {
    content: attr(data-label);
}

.remove-row {
    justify-self: end;
}

@media (min-width: 1024px) {
    body {
        align-items: center;
    }

    .currency-input {
        grid-template-columns: 85px 15px;
    }

    .row {
        grid-template-columns: 250px 150px repeat(3, 100px) 30px;
    }

    .row.heading {
        display: grid;
    }

    .total {
        grid-template-columns: 420px repeat(3, 100px) 30px;
    }

    .label {
        grid-template-columns: 1fr;
    }

    .label::before {
        content: '';
        display: none;
    }

    .remove-row {
        justify-self: center;
    }
}